.venv
__pycache__
*.pyc
instance
manga.db
.env
.DS_Store
.vscode
.idea
coverage
htmlcov
*.log
*.sqlite3
migrations
tests/__pycache__
tests/*.pyc
*.egg-info
dist
build
*.pyo
*.pyd
.eggs
.cache
.pytest_cache